.navbar .nav > li > a {
	color: #FFFFFF;
	padding-top:20px !important; 
	padding-bottom:20px !important;
}
.navbar-brand {
  font-size: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar-footer {
	font-size: 12px;
	
}
@media (min-width: 980px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    color: #FF0000;
  }
}

img { max-height: 150px; }


